data_dir  = "/opt/nomad/data"

bind_addr = "{{ ansible_facts.tailscale0.ipv4.address }}"

datacenter = "DragonBallWorld"

{% if is_server is defined and is_server %}
server {
  enabled          = true
  bootstrap_expect = 1
  encrypt = "{{ nomad_encryption_key }}"
}
{% endif %}

client {
  enabled       = true
  host_network "tailscale" {
    cidr = "{{ ansible_facts.tailscale0.ipv4.address }}/32"
    reserved_ports = "22"
  }
}

plugin "docker" {
  config {
    volumes {
      enabled      = true
    }
  }
}

plugin "raw_exec" {
  config {
    enabled = true
  }
}

telemetry {
  collection_interval = "15s"
  disable_hostname = true
  prometheus_metrics = true
  publish_allocation_metrics = true
  publish_node_metrics = true
}

consul {
  address = "{{ ansible_facts.tailscale0.ipv4.address }}:8500"
}
